body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#library-book {
	width		:	10%;
	height	:	50px;
	border	:	1px solid red;
	position:	absolute; 
	top			:	374px;
	right		:	580px;
}

#monster {
	width		:	12%;
	height	:	180px;
	border	:	1px solid red;
	position:	absolute;
	top			:	320px;
	left		:	30px;
}

#entercity {
	width		:	60%;
	height	:	450px;
	border	:	1px solid red;
	position:	absolute; 
	top			:	85px;
	right		:	0px
}
body .modal-body {
}

body #book_modal {
}
